laskarit/viikko2/unicafe/src/__pycache__/
laskarit/viikko2/unicafe/src/tests/__pycache__/
laskarit/viikko2/unicafe/.coverage
laskarit/viikko2/unicafe/htmlcov
#project
src/__pycache__/
data/database.db
data/fake_database.db
.coverage
htmlcov/
src/tests/__pycache__/
src/ui/__pycache__/
src/services/__pycache__/
src/entities/__pycache__/
src/repositories/__pycache__/
.pycache_test
